<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="./assets/img/srivenkatesh-crop.jpg" alt="srivenkatesh murugan"
                                class="img-raised rounded-circle img-fluid" />
                        </div>
                        <div class="name">
                            <h3 class="title">.about()</h3>
                            <h6>Fullstack Web Developer</h6>
                            <a href="https://twitter.com/_Srivenkatesh_" target="_blank"
                                class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/srivenkateshmurugan/" target="_blank"
                                class="btn btn-just-icon btn-link btn-linkedin"><i class="fab fa-linkedin"></i>
                                <div class="ripple-container"></div>
                            </a>
                            <a href="https://www.github.com/srivenkatesh92" target="_blank"
                                class="btn btn-just-icon btn-link btn-github"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center pb-4">
                <p>
                    I'm a Fullstack web developer. Experienced in Software development and maintenance exposure on
                    enterprise
                    J2EE applications. Sound knowledge in Banking and Financial Application Development. Extensively
                    worked on Java, J2EE,
                    Spring Frameworks, Hibernate, Javascript, Angular, Application servers such as Weblogic, Websphere
                    and Tomcat.
                    Flexible and adaptable across multiple development technologies and Methodologies.
                </p>
            </div>
        </div>
    </div>
</div>