<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="./assets/img/srivenkatesh-crop.jpg" alt="srivenkatesh murugan"
                                class="img-raised rounded-circle img-fluid" />
                        </div>
                        <div class="name">
                            <h3 class="title">{{socialMedia.title}}</h3>
                            <h6>{{socialMedia.header}}</h6>
                            <a *ngFor="let social of socialMedia.socialLink" href="{{social.href}}" target="_blank"
                                class="{{social.class}}"><i class="{{social.css}}"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center pb-4">
                <p>
                    {{socialMedia.description}}
                </p>
            </div>
        </div>
    </div>
</div>